/* Global Presets */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=Plus+Jakarta+Sans:wght@400;700&display=swap');

/* Applying global styles */
* {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    color: white;
    scrollbar-width: 1px;
    scrollbar-color: #8f54a0 #ffffff00;
}
/* End Global Presets */

/* Style for Invisible HR */
hr.hr1 {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
/* End Invisible HR style */

/* Class for making elements invisible */
.hidden {
    display: none;
}
/* End Invisible class */

/* Styling for Main Text */
.maintext {
    font-size: 110px;
    text-align: center;
    color: rgb(61, 119, 233);
    margin-top: 350px;
}
/* End Main Text styling */

/* Styling for Scrollbar */
*::-webkit-scrollbar {
    width: 1px;
}
*::-webkit-scrollbar-track {
    background: #ffffff00;
}
*::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 1px;
    border: 1px solid #ffffff00;
}
/* End Scrollbar styling */

/* Body styles */
body {
    background-color: rgb(14, 15, 24);
}
/* End Body styles */

/* Header styles */
header {
    padding: 10px;
    margin: 0;
    background: rgba(16, 11, 61, 0.8);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px); 
}
/* End Header styles */

/* Styling for Vorper Link */
#vorperlink {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
}
#vorperlogo {
    transition: all 0.3s ease;
    width: 250px;
    height: 250px;
    margin-left: 70px;
}
#vorperlink:hover #vorperlogo {
    opacity: 0.5;
}  
/* End Vorper Link styling */

/* Styling for Header Link */
.headerlink {
    position: relative;
    text-decoration: none;
    font-weight: 400;
    font-family: 'IBM Plex Sans', sans-serif;
    color: rgb(171, 231, 255);
}
.headerlink::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #cbfafc;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
.headerlink:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
/* End Header Link styling */

/* About Link Text */
#about {
    text-align: center;
    position: fixed;
    margin-top: 60px;
    margin-left: 1250px;
    font-size: 100px;
}
/* End About Link Text */

/* Contact Link Text */
#contact {
    text-align: center;
    position: fixed;
    margin-top: 60px;
    margin-left: 800px;
    font-size: 100px;
}
/* End Contact Link Text */

/* Info Link Text */
#info {
    text-align: center;
    position: fixed;
    margin-top: 60px;
    margin-left: 470px;
    font-size: 100px;
}
/* End Info Link Text */
