/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&family=Plus+Jakarta+Sans:wght@400;700&display=swap');

/* Global Styles */
* {
    font-family: 'Plus Jakarta Sans', sans-serif; /* Default font family */
    font-weight: bolder; /* Default font weight */
    color: white; /* Default text color */
}

/* Styling for the logo */
#vorperlogo {
    font-family: 'IBM Plex Sans', sans-serif; /* Different font family for logo */
    font-weight: 2000; /* Custom font weight */
    font-size: 150px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Styling for links */
a {
    color: transparent; /* Transparent text color */
    background-image: linear-gradient(to right, #6ca7ff, #8f46e2); /* Gradient text color */
    -webkit-background-clip: text;
    background-clip: text;
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
    box-shadow: inset 0 0 0 0 #16abb6; /* Shadow effect */
    transition: .3s ease-in-out, color .3s ease-in-out; /* Transition effects */
}

/* Hover effect for links */
a:hover {
    color: #fff; /* Text color on hover */
    box-shadow: inset 500px 0 0 0 #0e82ac; /* Shadow effect on hover */
}

/* Styling for horizontal rule */
hr.hr1 {
    display: block;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

/* Class for hiding elements */
.hidden {
    display: none;
}

/* Styling for main text */
#maintext {
    font-size: 110px;
    text-align: center;
    color: rgb(61, 119, 233);
    margin-top: 350px;
}

/* Styling for subtext */
#subtext {
    font-size: 50px;
    text-align: center;
    color: rgb(167, 208, 255);
}

/* Styling for specific elements */
#vorper1 {
    background-clip: text;
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
    background: -webkit-linear-gradient(#6a99ff, #722eaa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Styling for development text */
#development1 {
    color: rgb(124, 230, 186);
}

/* Body styles */
body {
    background-color: rgb(14, 15, 24);
}

/* Header styles */
header {
    padding: 10px;
    margin: 0;
    background: rgba(16, 11, 61, 0.8);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px); /* Background blur effect */
    -webkit-backdrop-filter: blur(10px); 
}

/* Scrollbar styles */
* {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff00;
}

*::-webkit-scrollbar {
    width: 1px;
}

*::-webkit-scrollbar-track {
    background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 10px;
    border: 1px solid #ffffff00;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    #vorperlogo {
        font-size: 100px;
        margin-left: -25px;
    }

    #maintext {
        font-size: 65px;
        margin-top: 200px;
    }

    #vorper1 {
        font-size: 65px;
    }

    #development1 {
        font-size: 53px;
    }

    #subtext {
        margin-top: 260px;
    }